/*wgu task sub dark mode*/
/*white text, might look better with gray, but other dark modes use white text*/
html.wgudmdk.dark-mode {
	color: #fff;
}
/*black background on body, headers, and rubric boxes*/
html.wgudmdk.dark-mode body,
html.wgudmdk.dark-mode header.navigation.student-navbar,
html.wgudmdk.dark-mode header.evaluation-header.page-header,
html.wgudmdk.dark-mode .rubric-result {
	background-color: #000;
}
/*logo background so it doesn't look weird*/
html.wgudmdk.dark-mode li.navigation__items__item.student-navbar__items__item--logo {
	/*background-color: #444;
	background-position: center;
	border-radius: 5px;
	padding: 12px;
	background-size: 90%;*/
	/*background: url(Wgu-Logo.da5442ae13f186ce3b50.svg),
		linear-gradient(to bottom, #111 20%, #222 50%, #111 100%);
	background-repeat: no-repeat;
	background-size: 90%,100%;
	background-position: center;*/
	background: url(chrome-extension://__MSG_@@extension_id__/img/Wgu-Logo-tasks-dark-mode.svg);
}
/*button bar and buttons*/
html.wgudmdk.dark-mode nav.mat-tab-nav-bar.mat-tab-header.mat-primary,
html.wgudmdk.dark-mode a.mat-list-item.mat-focus-indicator.ng-star-inserted {
	background-color: #002f51 !important;
}
/*active button bar button bottom border*/
html.wgudmdk.dark-mode button.ema-tab-bar__tab.is-active {
	border-bottom-color: #0066a2;
}
/*dropdown for attempt selection in evaluation report*/
html.wgudmdk.dark-mode span.select__phony {
	background-color: #000;
	color: #fff;
}
/*file upload and link box*/
html.wgudmdk.dark-mode .uploadfilecontainer {
	background-color: #000 !important;
}
html.wgudmdk.dark-mode .add_link_text {
	color: #fff;
}
/*------larger font------*/
/*task header and subheader*/
html.wgudmdk.large-font .tasks-page-header__text {
	font-size: 200%;
}
html.wgudmdk.large-font .text-label {
	font-size: 150%;
	width: 150%;
}
/*make content text size bigger, zooming in makes the left buttons bigger*/
html.wgudmdk.large-font div#content {
	font-size: 150%;
}
/*the headings in the rubric are set to 10px, override here*/
html.wgudmdk.large-font .form__item__label {
	font-size: inherit;
}
/*the rubric box content line-height is set to 1.6rem, override here*/
html.wgudmdk.large-font p.rubric-result__description {
	line-height: 1.5 !important;
}
