/*------larger font------*/
/*task header and subheader*/
html .tasks-page-header__text {
	font-size: 200%;
}
html .text-label {
	font-size: 150%;
	width: 150%;
	line-height: 1;
}
/*make content text size bigger, zooming in makes the left buttons bigger*/
html div#content {
	font-size: 150%;
}
/*the headings in the rubric are set to 10px, override here*/
html .form__item__label {
	font-size: inherit;
}
/*menu bar font*/
html button.ema-tab-bar__tab {
	font-size: 110%;
}
/*the rubric box content line-height is set to 1.6rem, override here*/
html p.rubric-result__description {
	line-height: 1.5 !important;
}
/*submission margin-bottom*/
html .wgu .margin--bottom {
	margin-bottom: 20px !important;
}
/*submission page fonts*/
html .wgu .grid__item p {
	font-size: 125%;
}
html .wgu .form__item--block__field {
	font-size: 125%;
}
/*eval report comment font size*/
html .wgu .score-report-overall-comments {
	font-size: 125%;
}
/*submission files font size*/
html .wgu .grid__item .grid span {
	font-size: 125%;
}
/*submission upload file button font size*/
html .wgu .uploadfilecontainer label.btn {
	font-size:110%;
}
html .wgu .uploadfilecontainer label.btn > span {
	font-size:100%;
}